// You can get them with colors(COLOR)
$_colors: (
	white: #fff,
	black: #1a1e29,

	f_pink: #FD2BCF,
	f_purple: #6E2BFD,
	f_green: #C4FE1F,
	f_blue: #2BFDE4,
	f_border: #D4E1F0,
);

// 1st level z-indexes. You can get them with z(Z_INDEX_NAME)
$_z-indexes: (
	// Gmap + Three
	maps: 0,
	preloader: 10
);

// You can get them with const(CONSTANTS)
$_constants: (
	font-akira: #{'"AkiraExpanded", -apple-system, Roboto, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", sans-serif'},
	font-gotham: #{'"Gotham", -apple-system, Roboto, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", sans-serif'},
	font-tusker: #{'"Tusker", -apple-system, Roboto, BlinkMacSystemFont, "Open Sans", "Helvetica Neue", sans-serif'},

	gradient-purple: linear-gradient(139deg, #FFF9F8 0%, #B297FF 14.06%, #FFFCFC 53.13%, #A38CFF 86.98%, #FFB5E6 100%),
	gradient-pink: linear-gradient(61deg, #FFFEF1 0%, #FF6A85 25%, #FF84DC 44.27%, #FFFFEF 77.60%, #FF84DC 89.58%),
	gradient-green: linear-gradient(209deg, #FFFCE5 0%, #C3FFED 16.28%, #D6FF62 30.33%, #FEFFE3 48.50%, #FFF 57.81%, #EEFFFB 61.46%, #ACFFEB 75.52%, #D2FF51 100%),


);

// You can get them with ease(EASING)
$_easings: (
	ease_generic: cubic-bezier(0.645, 0.045, 0.355, 1),
	ease_in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
	ease_out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1),
	ease_in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1),
	out-swift: cubic-bezier(0.55, 0, 0.1, 1),
	out-bounce: cubic-bezier(0.17, 0.89, 0.32, 1.27),
	in-out-smooth: cubic-bezier(0.36, 0.07, 0.19, 0.97),
);

@forward './functions' with (
	$_z-indexes: $_z-indexes,
	$_colors: $_colors,
	$_constants: $_constants,
	$_easings: $_easings
);
