@import './utils/reset';
@import './utils/animation';
@import './utils/fluidsize';
@import './utils/breakpoints';
@import './utils/touch';
@import './utils/variables';
@import './utils/functions';
@import './utils/fonts';

@import './components/animations.scss';

@import './lib/fix_tweakpane.scss';

:root {
	--h-demult: 1;

	@include below-height(bph(md)) {
		@media (min-aspect-ratio: 17 / 10) { --h-demult: 0.96; }

		@media (min-aspect-ratio: 18 / 10) { --h-demult: 0.88; }

		@media (min-aspect-ratio: 20 / 10) { --h-demult: 0.84; }

		@media (min-aspect-ratio: 22 / 10) { --h-demult: 0.78; }

		@media (min-aspect-ratio: 28 / 10) { --h-demult: 0.72; }
	}

	@include fluidSize("base-text", (
		bpw(s): 8px,
		bpw(lg): 10px,
		bpw(xxl): 12px
	));

	-webkit-font-smoothing: antialiased;
	font-size: var(--base-text);
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;

	transition: opacity 0.4s ease-out;

	&.is-hide {
	  opacity: 0;
	}
  }
